<div class="col s3">
  <div class="card"
       appHover
       (click)="onClick()">
    <div class="card-image">
      <img src="{{user.image}}">
      <span
        class="card-title"
        [ngClass]="{'marked': isMarker}"
      >{{ user.name | uppercase }}</span>
    </div>
    <div class="card-content">
      <p>{{user.geo}}</p>
    </div>

  </div>
</div>

